[Unit]
Description=LED Matrix Server

[Service]
ExecStart=/usr/local/bin/ledserver

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

# Automatically restart the service if it crashes
Restart=on-failure

# Our service will notify systemd once it is up and running
Type=notify

[Install]
WantedBy=default.target